{% extends "base.html.twig" %}

{% block body %}

<h1 class="m-5" > Bienvenue sur notre page </h1>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam voluptatem architecto praesentium placeat repellendus ipsum et libero non odit officiis sapiente id quas, ut ducimus dolorum cumque ratione. Error, hic.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto sit, veritatis officia, aliquid nesciunt adipisci quasi rerum perferendis itaque soluta sequi. Voluptates facere optio vel vero perspiciatis reprehenderit consequatur amet!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sunt doloremque nisi ratione expedita, dignissimos architecto odit tenetur facere praesentium voluptatum? Esse voluptatibus delectus repudiandae obcaecati, minima eaque assumenda error?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, iure perspiciatis labore sit nobis vero dicta at hic ab consequatur nostrum a laboriosam. Recusandae dolorum reprehenderit provident obcaecati, cumque ad.




{% endblock %}