{% extends "base.html.twig" %}

{% block body %}

<h1>Liste des users</h1>

{# {{users | json_encode()}} #}

<table class="table table-bordered w-50 table-striped">
    <tr>
        <th>Nom</th>
        <th>Age</th>
    </tr>
    
        {% for u in users %}
        <tr>
            <td>{{u.name}}</td>
            <td>{{u.age}}</td>
             </tr>
        {% endfor %}
   
</table>



{% endblock %}